.cardYandex {
  width: 100%;
  height: 900px;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-image: url('../img/b6da4af7337870db41cf1dc8ed867f00.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
}

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}
.deleteBtn, .add-btn, .btnSubmitReg, .btnSubmitLog {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 40px;
    background-color: #ffedb0c7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hi {
  margin-left: 40px;
  font-size: 20px;
  color: #333;
}

.nav_user,
.logout,
.nav-link {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}

.nav_user:hover,
.logout:hover,
.nav-link:hover {
  color: #8c4b39;
}

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
}

.wrapper__login,
.wrapper__registration {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/public/img/109a426….jpg);
    font-family: "Arial", sans-serif;
}

.cardlogin__container,
.cardreg__container {
    margin-top: 50px;
  text-align: center;
  width: 400px;
  padding: 2rem;
  border-radius: 10px;
  color: #333;
}



.card {
  width: 300px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 1rem;
}

.tea{
    display: flex;
    flex-direction: column;
    background-color: #e235358b;
    padding: 20px;
    border-radius: 5px;
    background-image: url(/public/img/109a426….jpg);
     margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.com{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    width: 100%;
}
.oneComm {
    background-color: #70be63c7;
    padding: 10px;
    border-radius: 10px;
    max-width: 30%;
    margin-bottom: 10px;
    position: relative;
    width: 500px;
}

.form-edit {
  font-size: 18px;
  margin-bottom: 10px;
}

.add-form{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}

input {
    flex-direction: column;
    background-color: #e235358b;
    padding: 20px;
    border-radius: 5px;
    background-image: url(/public/img/109a426….jpg);
    margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
}
input::placeholder{
    color: white;
}



button {
  padding: 0.5rem 1rem;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addButton{
  padding: 10px 20px;
  background-color: #8c4b39;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}



.card {
  width: 600px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}



.formAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 25px;
}

.tea {
    display: flex;
    flex-direction: column;
    background-color: #e235358b;
    padding: 20px;
    border-radius: 5px;
    background-image: url(/public/img/109a426….jpg);
    margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.oneTea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.oneTea img{
    border-radius: 5px;
    max-width: 500px;
    margin: auto;
}

.oneTea p{
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
    backdrop-filter: blur(8px);
}


.mapContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.cardYandex {
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 600px;
  height: 400px;

}

.cardsAuction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  margin: 10px;
  background-color: rgba(60, 142, 63, 0.6);
  border-radius: 5px;
  animation: fadeIn 1s ease-in-out;
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;


}

.card:hover {
  opacity: 1;
  transform: translate(10px, -10px);
  transition-duration: 0.2s;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 28px;
  text-align: center;
}

.card-body a {
  text-decoration: none;
  color: #FFFFFF;
}

.chernayaKartaMira {
  color: white;
}

.auction {
  background-color: rgb(158, 80, 25);
  background-image: url("/public/img/109a42698d7a0844ddea6f20ee256c27.jpg");
  font-family: "Arial", sans-serif;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
}


.comment-wrapper {
  color: black;
  margin-top: 20px;
  background-color: rgba(249, 249, 249, 0.6);
  max-width: 30%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.username {
  color: black;
  font-weight: bold;
}

.comment-text {
  background-color: #b1f67c;
  padding: 10px;
  border-radius: 10px;
  max-width: 30%;
  margin-bottom: 10px;
  position: relative;
  word-wrap: break-word; 

}


.commentInput {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
  height: 100px;
  font-size: 20px;
  word-wrap: break-word; 

}

.btnComment {
  padding: 10px 20px;
  background-color: #8c4b39;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.teacomment{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}
.btnComment:hover {
  background-color: #f6d365;
}

.btnHover:hover {
  background-color: #f6d365;
}



.newcomment-wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


.letter {
    display: flex;
    flex-direction: column;
  background-color: #e235358b;
  padding: 20px;
  border-radius: 5px;
  background-image: url('/public/img/109a42698d7a0844ddea6f20ee256c27.jpg');
  margin: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.letter h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #653a03;
}

.letter p {
  font-size: 22px;
  color: #2d2611;
  margin-bottom: 10px;
}

.letter span {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}


.letter img {
  border-radius: 5px;
  max-width: 500px;
  margin: auto;
}



.username {
  font-weight: bold;
}

.comment-text {
  margin-top: 5px;
  background-color: #95cf69;
}

.commentInput {
     padding: 10px;
     border-radius: 5px;
     margin-bottom: 10px;
     background: #9b780a36;
}

.btnComment {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnHover:hover {
  background-color: #45a049;
}

.personal {
  color: white;
}

h4{
    font-size: 30px;

}